---
import Header from './Header';
---
<div
  class="relative  h-screen mb-12 overflow-hidden"
>
   
  <video
    autoplay
    loop
    muted
    class="w-full h-full object-cover"
  >
    <source
      src="https://assets.mixkit.co/videos/preview/mixkit-set-of-plateaus-seen-from-the-heights-in-a-sunset-26070-large.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <Header client:load></Header>
</div>